*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Oxanium', cursive; */
}

.game-board{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 340px;
    margin: 0 auto;
    border-bottom: 15px solid rgb(24, 206, 78);
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.inicio{
    position: relative;
    font-family: 'Bungee Spice', cursive;
    font-size: 50px;
    color: #d62c0e;
    transform: translate(50%,50%);
    margin: 50px 50% auto;
    display: none;
}

.start{
    position: relative;
}
.start h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Bungee Spice', cursive;
    padding-bottom: 2px;
    margin-top: 10%;
}
.start-btn{
    max-width: 400px;
    padding-top: 2px;
    margin: 0 auto;
}

.start-btn button{
    margin-top: 2%;
}

.pipe{
    position: absolute;
    width: 80px;
    bottom: 0;
    animation: pipe-animation 1s linear infinite;
}

.aguarda{
    position: absolute;
    right: -80px;
    width: 80px;
    bottom: 0;
    margin: 40px auto;
    animation: block;
}

.mario{
    position: absolute;
    width: 150px;
    bottom: 0;
}

.pontuacao{
    display: flex;
    font-family: 'Tourney', cursive;
    flex-direction: row;
    justify-content: space-between;
    margin:1% 5%;
}

.recordes{
    position: relative;
    margin: 0 auto;
    /* bottom: 200px; */
    width: 80%;
    display: none;
}

.div-voltar{
    position: relative;
    margin: 10px auto;
    /* bottom: 200px; */
    background-color: #87CEEB;
    width: 10%;
    display: none;
}

#voltar{
    width: 100%;
    margin: 0 auto;
}

.recordes table{
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    width: 100%;
    height: 100%;
    min-height: 100px;
}

tr:nth-child(even) {background-color: #f2f2f2a6;}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(221, 221, 221);
}

th {
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #0491aa;
    color: rgba(255, 255, 255, 0.966);
}

td {
    /* text-align: center; */
    background-color: #f2f2f248;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: bottom;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 15s linear infinite;
}

.game-over{
    position: relative;
    width: 300px;
    height: 100px;
    transform: translateY(50%);
    margin: 40px auto;
    padding-bottom: 2px;
    display: none;
}

.game-over h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Bungee Spice', cursive;
}

.game-over input{
    width: 70%;
    height: 40px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-left: 15%;
    padding: 5%;
    border: none;
    border-radius: 4px;
}

button{
    width: 70%;
    height: 40px;
    border: none;
    background-color: rgb(22, 182, 49);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    margin-left: 15%;
    cursor: pointer; 
}

.jump{
    animation: jump 500ms ease-in-out;
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 190px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: -550px;
    }to{
        right: 100%;
    }
}